.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;
}

.logo {
  font-size: calc(10px + 1.5vmin);
}

.App-header p,
.App-header a {
  margin: 5px;
}

.App-header p {
  margin-right: 30px;
}

main {
  min-height: 45vw;
}

a {
  color: paleturquoise;
}
